<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% if title %}
    <title>welcome to {{title}}</title>
    {% else %}
    <title>welcome to Twittor</title>
    {% endif %}
</head>
<body>
   <div>
       Twittor: <a href="{{url_for('index')}}">home</a>
       {% if current_user.is_anonymous %}
       <a href="{{url_for('login')}}">Login</a>
       {% else %}
       <a href="{{url_for('logout')}}">Logout</a>
       {% endif %}
    </div>
   <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}  
</body>
</html>